@import url(https://fonts.googleapis.com/css?family=Raleway:600,400,400italic);

html {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-size: 1.5em;
  }

span.underline-pink {
    text-decoration: underline;
    text-decoration-color: #d98ba1;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
}

span.underline-maroon {
    text-decoration: underline;
    text-decoration-color: #800000;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
}

span.underline-blue {
    text-decoration: underline;
    text-decoration-color: #2774ae;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2em;
}


.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 700px;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-name {
    display: flex;
    margin-top: 1em;
}

.header-bio {
    margin-top: 1em;
}

.header-urls {
    margin-top: 0.5em;
}

.header-urls > a > img {
    width: 36px;
}

.header-imgs {
    width: 175px;
    height: 175px;
    border-radius: 100px;
    margin-left: 25px;

    @media screen and (max-width: 1200px) {
        display: none;
    }
}
