<!DOCTYPE html>
{% assign pageLanguage = page.language | default: "en-US" %}
<html lang="{{ pageLanguage | default: site.lang }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        {% case page.layout %}
            {% when "post","math" %}
                <nav>
                    <a href="/">Home</a>
                    <a href="/tags">Tags</a>
                </nav>
            {% when "tag" %}
                <nav>
                    <a href="/">Home</a>
                </nav>
            {% when "whim" %}
                <nav>
                    <a href="/whims">Whims</a>
                    <a href="/whims/tags">Tags</a>
                </nav>
            {% when "whim-tag" %}
                <nav>
                    <a href="/whims">Whims</a>
                </nav>
            {% else %}
                {% case page.title %}
                    {% when "tags","whims" %}
                        <nav>
                            <a href="/">Home</a>
                        </nav>
                    {% when "whim tags" %}
                        <nav>
                            <a href="/whims">Whims</a>
                        </nav>
                {% endcase %}
        {% endcase %}
        <h1>{{ page.title | default: site.title }}</h1>
        <main>
            {{ content }}
        </main>
    </body>

    <footer>
        <p>
            Copyright &copy; 2026 Rui Wang
        </p>
        <p>
            Training AI with any content on this site is strictly prohibited. Opinions expressed belong to and reflect solely of the author.
        </p>
    </footer>

</html>